<table class="mb-6 text-sm">
	<tbody>
		<tr class="">
		{% for key, value in context.getValues() %}
		<tr class="overflow-hidden">
			<td class="py-1 px-2 pl-3 text-right break-words">{{ key }} :</td>
			<td class="py-1 px-2 pr-3 text-left font-mono break-all">{{ value }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
